<section class="body">
  <a href="/p-TTBD/c-3/thong-tin-tuyen-truyen" class="Ttttt">THÔNG TIN TUYÊN TRUYỀN</a>
  <div class="dot"></div>
  <div class="body-ct1">

    <div class="titles">
      <a href=""><img class="img1" src="../../../assets/image/img1.png"></a>
      <a href="" class="hover">Hơn 190.000 người tham gia dự Cuộc thi <br> trực  tuyến “Biển, đảo Việt Nam; Hải Phòng vươn ra biển lớn”</a>
      <p >(Haiphong.gov.vn)–Sáng 8/9 tại quận Hải An, Ban Tuyên giáo <br> Thành ủy  tổ chức Hội nghị tổng kết và trao giải Cuộc thi trực <br>  tuyến “Biển, đảo Việt Nam; Hải Phòng vươn ra biển lớn”</p>
    </div>
    <div class="banner-1">
      <div class="new">
        <img src="../../../assets/image/Tiểu đoàn 151 giúp dân khắc phục hậu quả cơn bão số 3.jpg" alt="">
        <div class="news">
          <a href="">Tiểu đoàn 151 giúp dân khắc phục hậu quả cơn bão số 3</a>
          <p>HQ Online-Do ảnh hưởng của bão số 3, mưa to, gió lớn đã làm ngập, sạt lở cục bộ tại</p>
        </div>

      </div>
      <div class="new mt-3 mb-3">
        <img src="../../../assets/image/4891-UBND-2022.crop.png" alt="">
        <div class="news">
          <a href="">Chủ động ứng phó với gió mạnh và mưa lớn có thể xảy ra do ảnh hưởng của Bão số 3</a>
          <p>(Haiphong.gov.vn)-Để chủ động ứng phó với bão, gió </p>
        </div>

      </div>
      <div class="new">
        <img src="../../../assets/image/Từ 18h00 ngày 10-8-2022, đình chỉ các hoạt động GTVT đường thuỷ nội địa, các hoạt động vui chơi giải trí trên các khu vực biển.jpg" alt="">
        <div class="news">
          <a href="">Từ 18 giờ 00 ngày 10/8/2022, đình chỉ các hoạt động giao thông vận tải đường thuỷ nội địa, các hoạt động vui chơi giải trí trên các khu vực biển</a>
          <p>(Haiphong.gov.vn)–Để đảm bảo an toàn về người và tài</p>
        </div>
      </div>

    </div>
    <div class="banner-link">
      <img src="../../../assets/image/tuyen-truyen.jpg" alt="">
      <img src="../../../assets/image/lichsu_banner.jpg" alt="">
      <img src="../../../assets/image/doingoai_banner.jpg" alt="">
      <img src="../../../assets/image/tamtinhlinhbien_banner.jpg" alt="">
    </div>


  </div>
  <div class="banner-slogan">
    <a href=""> <img src="../../../assets/image/chủ quyềnbđ.png" alt=""></a>
    <a href=""> <img class="mt-5" src="../../../assets/image/bầu cử.png" alt=""></a>
  </div>



</section>
