.body {
  @apply mt-5;
  width: 100%;
  height: 1000px;
  .Ttttt {
    @apply ml-80 font-medium pt-5;
  }
  .dot {
    @apply bg-black;
    width: 450px;
  }
  .body-ct1{
    @apply flex;
    margin: auto;
    width: 1100px;
    .titles {
      @apply inline-block;
      .img1 {
        width: 450px;
        height: 333.5px;
      }
      p {
        @apply text-sm;
      }
      a {
        @apply font-medium text-lg;
        font-size: 21.333px;
      }
      .hover{
        @apply hover:opacity-50;
      }
    }
    .banner-1 {
      .new {
        @apply flex ml-8;
        width: 330px;
        font-size: 13.3333px;
        img {
          width: 138px;
          height: 100px;
        }
        .news {
          @apply ml-3 mt-0;
          a {
            @apply font-medium;
          }
          a:hover {
            @apply opacity-50
          }
          p {

          }
        }

      }
    }
    .banner-link {
      img {
        @apply mt-1;
        width: 390px;
        height: 66px;
      }
    }
  }
  .banner-slogan {
    @apply mt-5;
    width: 810px;
    margin-left: 310px;
    a {
      img {
        width: 810px;
      }

    }
  }
}
