<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
<section class="header">
  <div class="content-header">
    <img src="../../../assets/image/banner1.jpg" class="img1">
    <img src="../../../assets/image/banner-header.png" class="img2">
    <input type="text" placeholder="Tìm kiếm..." > <i class="fa-solid fa-magnifying-glass"></i>
  </div>
  <div class="menu">
     <ul>
      <li><a href="">TRANG CHỦ</a></li>
      <li><a href="">BỘ SƯU TẬP ẢNH</a></li>
      <li><a href="">TÌNH HÌNH BIỂN ĐÔNG</a></li>
      <li><a href="">NGHỀ CÁ - LÀNG CHÀI</a></li>
      <li><a href="">CẢNG BIỂN HẢI PHÒNG</a></li>
      <li><a href="">CÁT BÀ - CÁT HẢI</a></li>
      <li><a href="">TƯ LIỆU LỊCH SỬ</a></li>
    </ul>
  </div>
</section>




