.header {
  height: 173px;
  width: 100%;
  .content-header {
    .img1 {
      @apply inline-block relative ;
      width: 100%;
      height: 145px;

    }
    .img2 {
      @apply absolute top-7 left-1/4;
      width: 588px;
      height: 99px;
    }
    input {
      @apply absolute p-1 right-56 top-28 text-xs w-52 bg-white border-white;
    }
    i {
      @apply absolute;
      right: 229px;
      top: 116px;
    }
}
  .menu {
    @apply h-7;
    background-color: #276EC2;
    ul {
      @apply  flex gap-5 text-white text-sm font-medium justify-center pt-1;
    }

  }
}
